/* Estilos sección encabezado */

.bienvenida {
    background-image: url(../img/portadaequipomedico.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}

.bienvenida h1 {
    color: #407BFF;
    text-align: left;
    margin-left: 2rem;
}

.bienvenida div p {
    color: gray;
    margin-left: 2rem;
    font-size: 20px;
}

/* Estilos sección presentación */

.presentacion {
    text-align: center;
    margin: 40px;
}

.presentacion h2 {
    color: #407BFF;
    margin-bottom: 32px;
}

/* Estilos equipo médico */

.equipo-medico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    margin-bottom: 32px;
}

.doctor {
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 250px;
    padding: 16px;
    text-align: center;
    max-width: 100%; /* Asegura que no exceda el contenedor */
    box-sizing: border-box; /* Asegura que el padding no expanda el tamaño */
}

.doctor p {
    text-align: justify;
    font-size: 18px;
    margin: 8px;
}

.doctor img {
    width: 100%; /* Hace que las imágenes se adapten al contenedor */
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción original */
    border-radius: 0%; /* Si deseas una imagen circular */
    margin-bottom: 16px; /* Espacio debajo de la imagen */
}

.doctor h3 {
    color: #407BFF;
    margin: 8px;
}

/* Estilos de pie de página */
footer p {
    color: white;
}